@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #e4ede6;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }
  body a {
    text-decoration: none; }

@media screen and (max-width: 375px) {
  .button {
    background-color: #2acfcf;
    padding: 1em 2em;
    font-weight: 700;
    display: inline-block;
    border-radius: 30px;
    color: white; }
  .navbox {
    display: flex;
    justify-content: space-between;
    margin: 2em 0em 0em 1.5em; }
    .navbox svg {
      height: 1.5rem; }
    .navbox path {
      fill: #9e9aa7; }
  .dropdown {
    display: none;
    position: absolute;
    font-weight: 800;
    padding: 2rem;
    text-align: center;
    background-color: #3b3054;
    border-radius: 10px;
    margin: 1rem; }
    .dropdown .button {
      padding: 1rem; }
  .intro {
    text-align: center;
    margin: 0em 1em 4em; }
    .intro h2 {
      color: #35323e;
      line-height: 1em;
      margin-bottom: 0.5em;
      font-size: 2.5rem;
      font-weight: 700; }
    .intro p {
      color: #9e9aa7;
      line-height: 1.6rem;
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 2em; }
    .intro .button {
      padding-top: 0.8em;
      padding-bottom: 0.8em; }
  .shorten {
    margin: 1em;
    text-align: center;
    padding: 1.5em;
    border-radius: 10px;
    background-image: url(./images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-color: #3b3054;
    background-position: top right; }
    .shorten form input {
      border-radius: 10px;
      display: inline-block;
      padding: 1em;
      color: #9e9aa7;
      line-height: 1.6rem;
      font-weight: 500;
      font-size: 1rem;
      background-color: #e4ede6;
      font-family: "Poppins";
      margin-bottom: 1em; }
    .shorten form div {
      background-color: #2acfcf;
      padding: 1em 2em;
      font-weight: 700;
      border-radius: 5px;
      color: white;
      padding: 0.7em; }
  .stats {
    text-align: center;
    margin: 4em 1em 1em; }
    .stats h2 {
      color: #35323e;
      font-size: 2rem;
      font-weight: 700; }
    .stats p {
      color: #9e9aa7;
      line-height: 1.6rem;
      font-weight: 500;
      font-size: 1rem; }
  .feature {
    text-align: center;
    border-radius: 5px;
    margin: 0em 1.5em;
    padding: 2em 1em;
    background-color: white; }
    .feature h2 {
      font-size: 1.5rem;
      color: #35323e; }
    .feature p {
      color: #9e9aa7;
      line-height: 1.6rem;
      font-weight: 500;
      font-size: 1rem; }
  .feature-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3b3054;
    display: inline-block;
    position: static;
    margin: -2em auto 2em;
    border-radius: 50%;
    padding: 2.5em;
    transform: translate(159%, 4.7em); }
  #brand-icon {
    background-image: url(./images/icon-brand-recognition.svg); }
  #records-icon {
    background-image: url(./images/icon-detailed-records.svg); }
  #custom-icon {
    background-image: url(./images/icon-fully-customizable.svg); }
  .line {
    border: 5px solid #2acfcf;
    height: 100vh;
    z-index: -1;
    position: absolute;
    transform: translateX(49vw); }
  .boost-container {
    margin-top: 4em;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
    background-image: url(./images/bg-boost-mobile.svg);
    background-repeat: no-repeat;
    background-color: #3b3054; }
  footer {
    background-color: #232127;
    padding: 2em;
    text-align: center; }
    footer .logo {
      margin: 1em auto; }
      footer .logo svg path {
        fill: white; }
    footer .links {
      display: flex;
      flex-flow: column wrap; }
      footer .links h2 {
        color: white;
        padding-top: 1em;
        font-size: 1rem; }
      footer .links a {
        font-weight: 300;
        padding: 0.5em;
        color: #bfbfbf; }
    footer .socials {
      margin: 2em;
      display: flex;
      justify-content: center; }
      footer .socials div {
        flex-flow: row;
        padding: 0.5em; } }
