@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

// ************* COLOR VARIABLES ******************//
// PRIMARY
$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
// SECONDARY
$Red: hsl(0, 87%, 67%);
// NEUTRAL
$BG-COLOUR: #e4ede6; // had to find this myself
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

/////////////////// MIX INS //////////////////
@mixin button {
    background-color: $Cyan;
    padding: 1em 2em;
    font-weight: 700;
}

@mixin text {
    color: $Grayish-Violet;
    line-height: 1.6rem; // distance between lines of text
    font-weight: 500;
    font-size: 1rem;
}

@mixin heading {
    color: $Very-Dark-Blue;

    font: {
        size: 2rem;
        weight: 700;
    }
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: $BG-COLOUR;

    & a {
        text-decoration: none;
    }

    font: {
        size: 18px; // 1em
        family: "Poppins", sans-serif;
        weight: 500;
    }
}

//////////////////// DEFAULT/DESKTOP VIEW ///////////
@media screen and (max-width: 1440px) {
}

//////////////////// MOBILE VIEW ////////////////////
@media screen and (max-width: 375px) {
    // repeated style
    .button {
        @include button;
        display: inline-block; // div no wider than containing font
        border-radius: 30px; // rounded sides only, not rounding top and bottom as well.
        color: white;
    }

    // components from top to bottom of page
    .navbox {
        display: flex; // puts burger and logo beside each other instead of stacked
        justify-content: space-between; // space between logo and burger
        margin: 2em 0em 0em 1.5em;

        & svg {
            height: 1.5rem;
        }

        & path {
            fill: $Grayish-Violet;
        }
    }

    // .working-gal {
        
    // }

    .dropdown {
        display: none; // default: hides the dropdown menu
        position: absolute; // dropdown displays over existing content instead of pushing elements downwards

        font: {
            weight: 800;
        }

        & .button {
            padding: 1rem;
        }
        padding: 2rem;
        text-align: center;
        background-color: $Dark-Violet;
        border-radius: 10px;
        margin: 1rem;
    }

    .intro {
        text-align: center;
        margin: 0em 1em 4em;

        & h2 {
            color: $Very-Dark-Blue;
            line-height: 1em;
            margin-bottom: 0.5em;

            font: {
                size: 2.5rem;
                weight: 700;
            }
        }

        & p {
            @include text;
            margin-bottom: 2em;
        }

        .button {
            padding: {
                top: 0.8em;
                bottom: 0.8em;
            }
        }
    }

    .shorten {
        margin: 1em;
        text-align: center;
        padding: 1.5em;
        border-radius: 10px;

        background: {
            image: url(./images/bg-shorten-mobile.svg);
            repeat: no-repeat;
            color: $Dark-Violet;
            position: top right;
        }

        // text box
        & form input {
            border-radius: 10px;
            display: inline-block;
            padding: 1em;
            @include text;
            background-color: $BG-COLOUR;
            font-family: "Poppins";
            margin-bottom: 1em; // space between button and text box
        }

        // shorten it button
        & form div {
            @include button;
            border-radius: 5px;
            color: white;
            padding: 0.7em;
        }
    }

    .stats {
        text-align: center;
        margin: 4em 1em 1em;

        & h2 {
            @include heading;
        }

        & p {
            @include text;
        }
    }

    ///////////////// FEATURE SECTION /////////////////
    .feature {
        text-align: center;
        border-radius: 5px; // rounded edges of feature box
        margin: 0em 1.5em;
        padding: 2em 1em;
        background-color: white;

        & h2 {
            font-size: 1.5rem;
            color: $Very-Dark-Blue;
        }

        & p {
            @include text;
        }
    }

    .feature-icon {
        background: {
            repeat: no-repeat;
            position: center;
            color: $Dark-Violet;
        }

        display: inline-block;
        position: static;
        margin: -2em auto 2em;
        border-radius: 50%; // full circle
        padding: 2.5em; // between img and enclosing div
        transform: translate(159%, 4.7em);
    }

    #brand-icon {
        background-image: url(./images/icon-brand-recognition.svg);
    }

    #records-icon {
        background-image: url(./images/icon-detailed-records.svg);
    }

    #custom-icon {
        background-image: url(./images/icon-fully-customizable.svg);
    }

    .line {
        border: 5px solid $Cyan;
        height: 100vh;
        // z-index + absolute position allows overlapping elements
        z-index: -1;
        position: absolute;
        transform: translateX(49vw);
    }
    ///////////////// END FEATURE SECTION ////////////////

    .boost-container {
        margin-top: 4em;
        color: white;
        text-align: center;
        display: inline-block;
        width: 100%;

        padding: {
            top: 4em;
            bottom: 4em;
        }

        background: {
            image: url(./images/bg-boost-mobile.svg);
            repeat: no-repeat;
            color: $Dark-Violet;
        }
    }

    footer {
        background-color: $Very-Dark-Violet;
        padding: 2em;
        text-align: center;

        .logo {
            margin: 1em auto;

            & svg path {
                fill: white; // color of logo
            }
        }

        .links {
            display: flex;
            flex-flow: column wrap; // places links on top of one another

            & h2 {
                color: white;
                padding-top: 1em; // space between feature sections
                font-size: 1rem; // resizing headings to appropriate size
            }

            & a {
                font-weight: 300;
                padding: 0.5em; // space between links
                color: $Gray;
            }
        }

        .socials {
            margin: 2em;
            display: flex;
            justify-content: center;

            & div {
                flex-flow: row;
                padding: 0.5em; // space between icons
            }
        }
    }
}
